doc
**/*~
**/#*#
autom4te.cache
config.log
config.status
configure
src/_build
example/*.cm*
example/*.o
example/demo
example/demo_invariant
example/demo_round
example/demo_sdp
example/demo_sdp2
example/demo_sos
example/demo_sos2
example/demo_sos3
example/demo_sos4

# files with a .in
Makefile
opam
src/META
src/_tags
src/config.h
src/osdp.mlpack
src/myocamlbuild.ml
src/csdp_path.ml
src/osdp_top.ml
src/sdpa_paths.ml
src/sdp_default.ml
